@using HelloWorld.Models
@model HelloWorld.Models.Blog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

<h5>Posts</h5>
<ul>
    @foreach (Post p in Model.Posts)
    {
        <li>@Html.ActionLink(p.Title, "Details", "Posts", new { id = p.PostId }, null)</li>
    }
</ul>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
